{{#each}}
<div class="nav-bar">
	<button class="findMoviesBtn">Find Movies</button>
	<button class="searchMyMoviesBtn">Search My Movies</button>

	<a href="#" class="logOutLink">LogOut</a>	
</div>
{{/each}}