<div id="splashPage" class="hide">
	<div id="splashPage" class="hidden">
        <h1>THIS IS THE SPLASH PAGE</h1>
        <input id="emailInput" type="text" placeholder="Input Email">
        <input id="passwordInput" type="text" placeholder="Input Password">
        <button id="signup">Signup</button>
        <button id="login">Login</button>
    </div>
</div>
