{{this}}
	
	<div id="unwatchedMovies" class="hide">
		<div>
			<a href="#" class="watchedMovies">Watched</a>
			<a href="#" class="unwatchedMovies">unwatched</a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<button class="deleteAddedMovie">x</button>
					<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/2015_Focus_film_poster.png/220px-2015_Focus_film_poster.png">
					<button class="AddBtn">Watched</button>
				</div>
			</div>	
		</div>
	</div>