{{#each this}}
	<div>
		<a href="#" class="watchedMovies">Watched</a>
		<a href="#" class="unwatchedMovies">unwatched</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<button class="deleteAddedMovie">x</button>
				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/2015_Focus_film_poster.png/220px-2015_Focus_film_poster.png">
				<button class="AddBtn">stars</button>
			</div>
			<div class="col-md-4">
				<button class="deleteAddedMovie">x</button>
				<img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fia.media-imdb.com%2Fimages%2FM%2FMV5BMTUwNjcxNzAwOF5BMl5BanBnXkFtZTgwNzEzMzIzNDE%40._V1_SX214_AL_.jpg&f=1">
				<button class="AddBtn">stars</button>
			</div>
			<div class="col-md-4">
				<button class="deleteAddedMovie">x</button>
				<img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F5%2F5d%2FSpy2015_TeaserPoster.jpg%2F220px-Spy2015_TeaserPoster.jpg&f=1">
				<button class="AddBtn">stars</button>
			</div>
		</div>	  
	</div>
{{/each}}