#splashPage {
  text-align: center;
}

h1 {
  padding:100px 0 50px 0;
  font-family:helvetica neue,helvetica,arial,sans-serif;
  font-weight:100;
  font-size:50px;
  line-height:50px;
}

input[type="email"] {
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: 0 auto 30px auto;
}

input[type="password"] {
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: 0 auto 30px auto;

}


.splashButtons {
  text-align: center;
}

/* STYLING FOR STARS STARTS HERE */
.ratings_stars {
    background: url('../images/star.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('../images/star-filled.png') no-repeat;
}
.ratings_over {
    background: url('../images/star-filled.png') no-repeat;
}



