#splashPage {
  text-align: center;
}

h1 {
  padding:100px 0 50px 0;
  font-family:helvetica neue,helvetica,arial,sans-serif;
  font-weight:100;
  font-size:50px;
  line-height:50px;
}

input[type="email"] {
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: 0 auto 30px auto;
}

input[type="password"] {
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  margin: 0 auto 30px auto;

}


.splashButtons {
  text-align: center;
}


.stars {
  background: url('../images/star.png');
  background-repeat: no-repeat;
  position: relative;
  float: left;
  padding: 2px;
  width: 25px;
  height: 25px;
}

.stars-vote {
  background: url('../images/star-filled.png');
  background-repeat: no-repeat;
}


